.comment {
  display: grid;
  grid-template-columns: 3.5em 1fr;
  color: #fff;
  margin: 2em;
}

.comment-reply-button {
  font-size: 0.9em;
  cursor: pointer;
  margin: 1em;
  text-transform: uppercase;
  color: rgb(156, 156, 156);
  border-radius: 0.3em;
  padding: 0.5em;
}

.pressed {
  background: #1d1d1d;
  border-radius: 0;
  filter: brightness(1.2);
  transition: filter 0.2s ease, border-radius 550ms ease;
}

.comment-date {
  color: rgb(156, 156, 156);
}

.comment-likes {
  margin: 0.3em 0;
  padding: 0.25em 0;
  user-select: none;
}

.author-picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment-author {
  cursor: pointer;
}

.like-btn {
  cursor: pointer;
}
.like-btn:nth-child(2) {
  margin-left: 0.5em;
}

.like-qnt {
  margin: 0 0.5em;
}
