.comment {
  display: grid;
  grid-template-columns: 4em 1fr;
  color: #fff;
  margin: 2em;
}

.comment-reply-button {
  font-size: 0.9em;
  cursor: pointer;
  margin: 1em;
  text-transform: uppercase;
  color: rgb(156, 156, 156);
  padding: 0.5em;
  transition: background 250ms ease;
}

.pressed {
  background: #1d1d1d;
  transition: background 250ms ease;
}
.comment-date {
  color: rgb(156, 156, 156);
}

.comment-likes {
  padding: 0.25em 0;
  user-select: none;
}

.author-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.comment-author {
  cursor: pointer;
}

.like-btn {
  cursor: pointer;
}
.like-btn:nth-child(2) {
  margin-left: 0.5em;
}

.like-qnt {
  margin: 0 0.5em;
}
