.comment {
  color: #fff;
  margin: 2em;
}

.comment-reply-button {
  font-size: 0.9em;
  cursor: pointer;
  margin: 1em;
  text-transform: uppercase;
  color: rgb(156, 156, 156);
  border-radius: 0.3em;
  padding: 0.5em;
}

.pressed {
  background: #1d1d1d;
  border-radius: 0;
  filter: brightness(1.2);
  transition: filter 0.2s ease, border-radius 550ms ease;
}

.comment-date {
  color: rgb(156, 156, 156);
}

.comment-likes {
  margin: 0.3em 0;
  padding: 0.25em 0;
  user-select: none;
}

.author-picture {
  border-radius: 50%;
}

.comment-author {
  cursor: pointer;
}

.like-btn {
  cursor: pointer;
}
.like-btn:nth-child(2) {
  margin-left: 0.5em;
}

.like-qnt {
  margin: 0 0.5em;
}

.comment-reply-box {
  color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #111;
}

.comment-reply-box:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #111;
}

.comment-reply-box {
  margin: 0 0 1em;
}

/* .reply-cancel-btn {
  padding: 0.5em;
  float: right;
  text-align: center;
  border-radius: 0;
  font-size: 0.8em;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(156, 156, 156);
  transition: filter 0.2s ease, border-radius 550ms ease;
}
.reply-send-btn {
  font-size: 0.8em;
  user-select: none;
  padding: 0.5em;
  margin: 0 2em;
  float: right;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  color: #003b88;
  text-transform: uppercase;
  background: #3ea6ff;
}
.reply-emoji-icon {
  cursor: pointer;
} */

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.reply-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reply-emoji-icon {
  font-size: 1.2em;
}

.reply-send-btn {
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.8em;
  text-transform: uppercase;
  background: #3ea6ff;
  color: #003b88;
  padding: 0;
  text-align: center;
}

.reply-cancel-btn {
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.5em;
  text-align: center;
}

.disabled {
  background: #8f8f8f;
  color: #4d4d4d;
}

.comment-reply-container {
  display: grid;
  grid-template-rows: 2em 1fr;
  min-width: 219px;
  max-width: 20em
}

